{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "@router": "./routes"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}