{
  "presets": [
    "stage-1",
    ["env", {
      "targets": {
        "node": "8.9.1",                
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties"
  ]
}